body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  height: 300px;
  width: 400px;
  background: aquamarine;

  position: fixed;
  top: 25%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.heading {
  height: 300px;
  width: 400px;

  position: fixed;
  left: 42%;
}
